@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
.container__header {
  background-color: #272727;
  width: 100vw;
  height: 120px;
  margin-bottom: 80px;
}

.header__logo {
  position: absolute;
  top: 5%;
  left: 5%;
}

.header__name {
  padding-left: 10%;
  padding-top: 48px;
  font-size: 24px;
  color: burlywood;
}

.sitevizit {
  position: absolute;
  right: 5%;
  top: 54px;
  color: #fff;
}

.sitelink {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.sitelink:hover {
  color: burlywood;
}

.backtomain {
  position: absolute;
  color: #fff;
  right: 20%;
  top: 54px;
  font-size: 18px;
}

body {
  overflow-x: hidden;
}

.tablewrap {
  width: 860px;
  margin: 0 auto;
  background-color: #e6e6fa;
  border: 3px solid burlywood;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 80px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.tablestyle {
  display: flex;
  justify-content: center;
}

.thstyle {
  padding: 0px 50px 17px 50px;
}

.tdstyle {
  text-align: center;
  padding-top: 10px;
  border: 3px solid burlywood;
  background-color: #e7e7e7;
}
.tdstyle:nth-child(2) {
  background-color: #d5d5d5;
  cursor: pointer;
  font-weight: normal;
}
.tdstyle.tableicon {
  background-image: url(../images/skud.png);
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid burlywood;
  background-color: #d5d5d5;
  padding: 0px 50px 37px 50px;
  cursor: pointer;
}

.modal {
  display: none;
  position: relative;
  background: #d9d9d9;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  font-family: "PT Sans", sans-serif;
  color: #272727;
  cursor: default;
}

.modal_vis {
  display: block;
}

.body_block {
  overflow: hidden;
}

#close_modal {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #272727;
  top: 120px;
  right: 22%;
  cursor: pointer;
  transition: all 0.5s;
  box-sizing: content-box;
}

#close_modal:hover {
  transform: scale(1.05);
  color: #9370db;
  border: 2px solid #272727;
  border-radius: 30%;
  padding: 5px;
}

.modal_txt {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2), 0 26px 52px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #f5f5f5;
  padding: 30px;
  margin: 120px auto;
  max-width: 800px;
}

.footer {
  background-color: #272727;
  height: 120px;
}

.container__footer {
  margin-top: -120px;
  width: 100vw;
  height: 120px;
}

.container__footer_flex {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.container__logo_flex {
  display: flex;
}

.footer__logo {
  padding-left: 40%;
  padding-top: 36px;
  width: 48px;
  height: 48px;
}

.footer__name {
  padding-top: 48px;
  padding-left: 25px;
  color: burlywood;
  font-size: 24px;
}

.container__socialnetwork {
  padding-right: 100px;
  margin-top: 40px;
}

.oursocialnetwork {
  text-decoration: none;
}

.inst {
  padding-right: 25px;
  height: 40px;
  width: 40px;
}

.vk {
  height: 40px;
  width: 40px;
} /*# sourceMappingURL=ftable.css.map */
